.navbar-inverse {
    background-color: #2780e3;
    border-color: #2780e3;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #1967be;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #2780e3;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #1967be;
}
@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	     color: #ffffff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
	    color: #ffffff;
	    background-color: #1967be;
	}
}

.cover {
    width: 160px;
    height: 200px;
}
.thumbnail {
    text-align: -webkit-center;
    height: 285px;
}

.thumbnail a>img {
    width: 160px;
    height: 200px;
}
.item-rating {
    padding: 10px 0 5px;
}

.star-rating {
    color: #ff7518;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    width: 4.7em;
    font-family: FontAwesome;
}

.star-rating:before {
    color: inherit;
    content: "\f006\f006\f006\f006\f006";
    color: #da5800;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.star-rating span:before {
    content: "\f005\f005\f005\f005\f005";
    top: 0;
    position: absolute;
    left: 0;
}
.book-title {
    display: block;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 5px 0;
    line-height: 20px;
}
footer {
    position: absolute;
    padding: 10.5px 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
}
.nav-page {
    text-align: center;
}
.info {
    padding: 5px 0;
    font-size: 15px;
}
div.item-rating {
    display: inline-block;
}
.book-top {
    padding-bottom: 15px;
}
.btn-info {
    color: #ffffff;
    background-color: #9954bb;
    border-color: #9954bb;
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #7e3f9d;
    border-color: #783c96;
}
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #7e3f9d;
    border-color: #7e3f9d;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.panel-warning {
    border-color: #ff4309;
    border-left: 0;
    border-right: 0;
}
.panel-title .pull-right {
    color: #fff;
}
.panel-heading {
     border-top-left-radius: 0px; 
     border-top-right-radius: 0px; 
}
.panel-body table {
    margin-bottom: 0;
}
.post-title {
    line-height: 1 !important;
}
html,body {
    font-family:  "Source Sans Pro",Helvetica, "Microsoft YaHei", Arial,sans-serif;
}
.post-content pre {
    padding: 0;
    margin: 0;
    font-family:  "Source Sans Pro",Helvetica, "Microsoft YaHei", Arial,sans-serif;
    font-size: 15px;
    line-height: inherit;
    background-color: transparent;
    border-color: transparent;
    border: 0; 
    border-radius: 0;
}
.post-content {
    margin-bottom: 15px;
}
.panel:hover {
    box-shadow: none;
}
.pager li {
    display: inline;
    margin: 0 2em;
}
div.search-bar > div {
    width: 300px;
}
.gsc-control-cse {
    background: transparent !important;
    border: 0 !important;
    padding: 1em 1em 0 1em !important;
}