.navbar-inverse {
    background-color: #2780e3;
    border-color: #2780e3;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #1967be;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #2780e3;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #1967be;
}
@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	     color: #ffffff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
	    color: #ffffff;
	    background-color: #1967be;
	}
}

.cover {
    width: 160px;
    height: 200px;
}
.thumbnail {
    text-align: -webkit-center;
    height: 285px;
}

.thumbnail a>img {
    width: 160px;
    height: 200px;
}
.item-rating {
    padding: 10px 0 5px;
}

.star-rating {
    color: #ff7518;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    width: 4.7em;
    font-family: FontAwesome;
}

.star-rating:before {
    color: inherit;
    content: "\f006\f006\f006\f006\f006";
    color: #da5800;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.star-rating span:before {
    content: "\f005\f005\f005\f005\f005";
    top: 0;
    position: absolute;
    left: 0;
}
.book-title {
    display: block;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 5px 0;
    line-height: 20px;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 10.5px 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
}